<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('./partials/head') %>
	</head>
	<body>
		<%- include('./partials/navbar') %>
		<header class="container header">
			<div class="header_left">
				<img src="http://pics.jason-fel.be/uploads/1659357883website-visit-link.png" alt="Url Illustration" />
			</div>
			<div class="header_right">
				<form action="/" method="post">
					<% if(errors.length){ %>
					<div>
						<p><%= errors %></p>
					</div>
					<% } %>
					<div>
						<input type="text" name="long_url" placeholder="Enter a long URL to make a short URL" />
					</div>
					<div>
						<input type="submit" value="Make short URL" />
					</div>
					<% if(success.length){ %>
					<div>
						<a href="http://<%= success %>"><%= success %></a>
					</div>
					<% } %>
				</form>
			</div>
		</header>
	</body>
</html>
